APP_KEY=CHANGEME_32_CHARS_LONG_KEY_HERE_
APP_ENV=local
APP_DEBUG=false
TZ=America/Los_Angeles
TRUSTED_PROXIES=**
DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/storage/database/database.sqlite

FIREFLY_III_URL="http://app:8080"
VANITY_URL="https://bank.serveradams.com"
FIREFLY_III_ACCESS_TOKEN="your_firefly_personal_access_token"
SIMPLEFIN_TOKEN="your_simplefin_access_token"