{
    email {env.EMAIL}
}

*.{env.DOMAIN} {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
        resolvers 1.1.1.1
    }
}
olivetin.{$DOMAIN} {
    reverse_proxy {$HOST_IP}:1337
}
homer.{$DOMAIN} {
    reverse_proxy homer:8080
}
ollama.{$DOMAIN} {
    reverse_proxy open-webui:8080
}
pocketid.{$DOMAIN} {
    reverse_proxy pocket-id:1411
}
jellyfin.{$DOMAIN} {
    reverse_proxy jellyfin:8096
}
photos.{$DOMAIN} {
    reverse_proxy immich-server:2283
}
mealie.{$DOMAIN} {
    reverse_proxy mealie:9000
}
kanban.{$DOMAIN} {
    reverse_proxy linen-kanban:5000
}
recall.{$DOMAIN} {
    reverse_proxy linen-recall-web:8001s
}