BASE_URL=https://url.com
OIDC_AUTH_ENABLED: True
OIDC_SIGNUP_ENABLED: True
OIDC_CONFIGURATION_URL: https://something.com/.well-known/openid-configuration
OIDC_CLIENT_ID: <client_id>
OIDC_CLIENT_SECRET: <secret>
